body
 background lightgray
 font-family Arial
 font-size 16px

 header
     background grey
     padding 0.5em
     overflow hidden
     
     .inicio
        float left
        img 
            width 96px
     .Gorehowl
        float right
        img 
          width 82px
    .titulo
      font-size 18px
      font-weight normal
      margin 0
      padding 0


nav
    background dodgerblue
    .menu
       margin 0
       overflow-x auto
       padding 0
       
       white-space nowrap


       li

           display inline-block
           a
               padding 0.2em
               display inline-block
               text-decoration none
               margin 0 2.5em



    .amra
        float left
        img
           width  96px  
