body
 background lightgray
 font-family Arial
 font-size 16px

 header
     background grey
     padding 0.5em
     
     .inicio

        img 
            width 54px
     
    .tituloa
      font-size 18px
      font-weight normal
      margin 0
      padding 0


nav
    background dodgerblue
     .left
      float left

    .right
      float right